<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="stylesheet" href="/src/css/character.css" />
  </head>
  <body>
    <header>
      <load ="partials/header.html" />
    </header>
    <main>
      <section>
        <load ="partials/characters/hero-characters.html" />
      </section>
      <div class="char-form-section">
        <form class="char-search-form">
          <div class="char-form-wrapper">
            <p class="char-form-label">Comics</p>
            <input
              class="char-form-input"
              type="text"
              name="searchComics"
              autocomplete="off"
              placeholder="Enter comics..."
              required
            />
            <button type="submit" class="char-form-btn">
              <svg class="char-search-icon" width="18" height="18">
                <use href="../images/search-01.svg"></use>
              </svg>
            </button>
          </div>
          <div>
            <p class="char-form-label">Name</p>
            <input
              class="char-form-input"
              type="text"
              name="searchName"
              autocomplete="off"
              placeholder="Enter name..."
            />
          </div>
          <div>
            <p class="char-form-label">Order by</p>
            <select
              class="char-form-input char-order-select"
              data-action=""
              name="searchOrder"
            >
              <option>name</option>
              <option>modified</option>
              <option>-name</option>
              <option>-modified</option>
            </select>

            <p class="char-form-label">Date</p>
            <input
              class="char-form-input"
              type="text"
              name="searchDate"
              autocomplete="off"
              placeholder="Enter name..."
              required
            />
          </div>
        </form>
      </div>
      <script src="./characters.js" type="module"></script>

      <!-- <select class="char-order-select" data-action="" name="select-one">
            <option>name</option>
            <option>modified</option>
            <option>-name</option>
            <option>modified</option>
          </select> -->

      <script type="module" src="/src/js/character.js"></script>
    </main>
    <footer>
      <load ="partials/footer.html" />
    </footer>
  </body>
</html>
