<section class="char-hero char-comics-error-hero container">
  <section class="char-section char-comics-error-section">
    <div class="char-text-block">
      <p class="char-subtitle char-comics-error-subtitle">Web-based platform</p>
      <h1 class="char-title char-comics-error-title">404 page</h1>
      <p class="char-desc char-comics-error-desc">
        Oops! That page can’t be found.
      </p>
      <button type="button" class="char-btn back-home-btn">back home</button>
    </div>
  </section>
</section>
