<section class="char-hero">
  <div class="char-section container">
    <div class="char-text-block">
      <p class="char-subtitle char-comics-error-subtitle">Web-based platform</p>
      <h1 class="char-title char-comics-error-title">Characters</h1>
      <p class="char-desc char-comics-error-desc">
        With over 70,000 characters in the Marvel Multiverse, this is the most
        complete public listing in existence.
      </p>
    </div>
    <div class="btn-position">
      <a href="./index.html" class="char-btn back-home-btn">back home</a>
    </div>
  </div>
</section>
