<div class="container char-form-section">
  <form class="char-search-form">
    <div class="char-form-wrapper char-form-btn-wrap">
      <p class="char-form-label">Comics</p>
      <input
        class="char-form-input"
        type="text"
        name="searchComics"
        autocomplete="off"
        placeholder="Enter comics..."
        required
      />
      <!-- <button type="submit" class="char-form-btn">
        <svg class="char-search-icon" width="18" height="18">
          <use href="../images/search_001.svg"></use>
        </svg>
      </button> -->

      <button type="submit" class="char-form-btn">
        <!-- <svg class="char-search-icon" width="18" height="18">
          <use href="./img/search_001.svg"></use>
        </svg> -->
      </button>
    </div>
    <div class="char-form-wrapper">
      <p class="char-form-label">Name</p>
      <input
        class="char-form-input"
        type="text"
        name="searchName"
        autocomplete="off"
        placeholder="Enter name..."
      />
    </div>

    <div class="char-form-wrapper-add">
      <div class="char-form-wrapper">
        <p class="char-form-label">Order by</p>
        <select
          class="char-form-input char-order-select"
          data-action=""
          name="select"
        >
          <option>name</option>
          <option>modified</option>
          <option>-name</option>
          <option>-modified</option>
        </select>
      </div>

      <div class="char-form-wrapper">
        <p class="char-form-label">Date</p>
        <input
          class="char-form-input char-data-select"
          name="searchDate"
          placeholder="Select date..."
          autocomplete="off"
        />
      </div>
    </div>
  </form>

  <div class="char-card-container rc-container"></div>
  <div id="tui-pagination-container" class="tui-pagination is-hidden"></div>
</div>
