<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Error</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <section class="error-hero char-comics-error-hero container">
      <section class="error-section char-comics-error-section">
        <div class="error-text-block">
          <p class="error-subtitle char-comics-error-subtitle">
            Web-based platform
          </p>
          <h1 class="error-title char-comics-error-title">404 page</h1>
          <p class="error-desc char-comics-error-desc">
            Oops! That page can’t be found.
          </p>
          <button type="button" class="error-btn back-home-btn">
            back home
          </button>
        </div>
      </section>
    </section>
  </body>
</html>
