<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ERROR</title>
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.cdnfonts.com/css/helvetica-neue-5"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
      integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <section class="error-hero char-comics-error-hero">
      <section class="error-section char-comics-error-section">
        <a href="./index.html">
          <svg class="header-logo error-logo">
            <use href="/img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <div class="error-text-block">
          <p class="error-subtitle char-comics-error-subtitle">
            Web-based platform
          </p>
          <h1 class="error-title char-comics-error-title">404 page</h1>
          <p class="error-desc char-comics-error-desc">
            Oops! That page can’t be found.
          </p>
          <button class="error-btn back-home-btn">
            <a href="../index.html">back home</a>
          </button>
        </div>
      </section>
    </section>
  </body>
</html>
