<!-- <html>
  <head></head>
  <body> -->
<div class="backdrop is-hidden" data-modal="">
  <div class="modal">
    <button class="modal-close-btn" data-modal-close="">
      <svg class="modal-close-icon" width="10" height="10">
        <use href="/src/img/close.jpg"></use>
      </svg>
    </button>
    <img
      src="/src/img/star.jpg"
      alt="star"
      width="295"
      hieght="387"
      class="star-photo"
    />
  </div>
  <div class="photo-slide">
    <ul>
      <li>
        <img src="/src/img/crawl.jpg" alt="crawl" width="80" hieght="80" />
      </li>
      <li>
        <img src="/src/img/talk.jpg" alt="talk" width="80" hieght="80" />
      </li>
      <li>
        <img src="/src/img/on-knee.jpg" alt="on-knee" width="80" hieght="80" />
      </li>
    </ul>
  </div>
  <section class="comics">
    <h1>Black Widow</h1>
    <p>July 9, 2021</p>
    <p>
      A deadly assassin is closing in on Natasha Romanoff. Now Natasha must
      reunite with an unlikely group of spies from her past in order to survive
      and stop a lethal force from being unleashed on the world.
    </p>
    <h2>List of comics</h2>
    <ul class="comics-list">
      <li>
        <img src="/src/img/item-one.jpg" alt="one" width="263" hieght="263" />
        <h3>Black Widow (2020)</h3>
        <p>Kelly Thompson</p>
      </li>
      <li>
        <img src="/src/img/item-two.jpg" alt="two" width="263" hieght="263" />
        <h3>Black Widow (2020)</h3>
        <p>Kelly Thompson</p>
      </li>
      <li>
        <img
          src="/src/img/item-three.jpg"
          alt="three"
          width="263"
          hieght="263"
        />
        <h3>Black Widow (2020)</h3>
        <p>Kelly Thompson</p>
      </li>
    </ul>
  </section>
</div>
<!-- </body>
</html> -->
