
<!-- <html>
  <head></head>
  <body> -->
<div class="backdrop" data-modal="">

        <div class="modal">
            <button class="modal-close-btn" data-modal-close="">
                <svg class="modal-close-icon" width="10" height="10">
                    <use href="./img/icons.svg#icon-arrow"></use>
                </svg>
            </button>
            <div class="container modal-container">
        <section class="images">
            <img src="./img/modal2/image5.png" alt="star" width="332" height="445" class="star-photo" />
            <ul class="photo-slide">
                <li>
                    <img class="photo-slide-image" src="./img/modal2/image6.png" alt="crawl" />
                </li>
                <li>
                    <img class="photo-slide-image" src="./img/modal2/image7.png" alt="talk"  />
                </li>   
                <li>
                    <img class="photo-slide-image" src="./img/modal2/image8.png" alt="on-knee" />
                </li>
            </ul>
        </section>
        
        <section class="description">
<div class="desc-head">
                <h1 class="title">Daredevil (2022)</h1>
           <div class="head-inf">
             <p class="c-author">Chip Zdarsky</p>
            <p class="c-date">December 07, 2022</p>
           </div>
</div>
            <p class="text-discription">
                In the most shocking issue of Chip Zdarsky and Marco Checchetto’s landmark DAREDEVIL epic yet, Elektra finds
                herself at
                the center of an international incident that threatens to put her, Matt Murdock and everything they hold dear on
                a
                collision course with the Avengers – after which, things may never be the same!
            </p>
            <ul class="desc-list">
                <li class="list-item">
                    <P class="list-punkt">FORMAT</P>
                    <P class="list-inf">Comic</P>
                </li>
                <li>
                    <P class="list-punkt">YEAR RELEASED</P>
                    <P class="list-inf">1967</P>
                </li>
                <li>
                    <P class="list-punkt">PAGES</P>
                    <P class="list-inf">28</P>
                </li>
                <li>
                    <P class="list-punkt">PRICE</P>
                    <P class="list-inf">$3.99</P>
                </li>
            </ul>
            <h2 class="title author">Creator</h2>
            <div class="author-inf">
                <img class="author-img" src="./img/modal2/image21.png" alt="one">
            <div class="aut-desc">
                    <p class="author-prof">Writer</p>
                <h3 class="author-name">Chip Zdarsky</h3>
            </div>
            </div>
            <h2 class="title characters">Characters</h2>
            <ul class="characters-list">
                <li class="char-item">
                    <img class="character-img" src="./img/modal2/image19.png" alt="one"  />
                    <h3 class="character-name">Daredevilic</h3>
        
                </li>
            </ul>
        </section>
            </div>
 
    </div>
</div>
<!-- </body>
</html> -->