<div class="preloader">
  <div class="animation animation-lego"></div>
</div>

<div class="backdrop-two display-none">
  <div class="modal-two modal-box-two rm-container">
    <div class="modal-hero">
      <button class="modal-two-close-btn">
        <svg class="modal-two-close-icon" width="20" height="20">
          <use class="icon" href="./img/icons.svg#close-icon"></use>
        </svg>
      </button>

      <div class="spray">
        <img class="modal-main-img" src="#" alt="star" class="star-photo" />
        <div class="modal-slide">
          <ul class="modal-slide-list">
            <li>
              <img
                class="modal-slide-img"
                src="#"
                alt="crawl"
                width="80"
                hieght="80"
              />
            </li>
            <li>
              <img
                class="modal-slide-img"
                src="#"
                alt="talk"
                width="80"
                hieght="80"
              />
            </li>
            <li>
              <img
                class="modal-slide-img"
                src="#"
                alt="on-knee"
                width="80"
                hieght="80"
              />
            </li>
          </ul>
        </div>

        <div class="skeleton-modal display-none">
          <div class="skeleton-modal-img"></div>
          <div class="skeleton-modal-text"></div>
        </div>

        <div class="spray"></div>
      </div>

      <section class="comics">
        <div class="comics-title-date">
          <h1 class="comics-movie-title">Black Widow</h1>
          <p class="comics-date">July 9, 2021</p>
        </div>
        <p class="comics-description">
          A deadly assassin is closing in on Natasha Romanoff. Now Natasha must
          reunite with an unlikely group of spies from her past in order to
          survive and stop a lethal force from being unleashed on the world.
        </p>
        <h2 class="comics-list-title">List of comics</h2>
        <ul class="comics-list">
          <li class="comics-list-item">
            <img class="comics-list-el" src="#" alt="one" />
            <h3 class="comics-list-movie">Black Widow (2020)</h3>
            <p class="comics-movie-hero">Kelly Thompson</p>
          </li>
          <li class="comics-list-item">
            <img class="comics-list-el" src="#" alt="two" />
            <h3 class="comics-list-movie">Black Widow (2020)</h3>
            <p class="comics-movie-hero">Kelly Thompson</p>
          </li>
          <li class="comics-list-item">
            <img class="comics-list-el" src="#" alt="three" />
            <h3 class="comics-list-movie">Black Widow (2020)</h3>
            <p class="comics-movie-hero">Kelly Thompson</p>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
