
<div class="backdrop-two is-concealed">
  <div class="modal-two modal-box-two">

<!--  <div class="preloader">
  <div class="animation animation-lego"></div>
</div>

<div class="backdrop-two display-none">
  <div class="modal-two modal-box-two rm-container">
 -->

    <div class="modal-hero">
      <button class="modal-two-close-btn">
        <svg class="modal-two-close-icon" width="20" height="20">
          <use class="icon" href="./img/icons.svg#close-icon"></use>
        </svg>
      </button>

      <div class="skeleton-two skeleton-modal display-none">
        <div class="skeleton-modal-img"></div>
        <div class="skeleton-modal-text"></div>
      </div>

      <div class="spray"></div>
    </div>

    <section class="comics"></section>
  </div>
</div>
