<section class="comics-hero char-comics-error-hero container">
  <section class="comics-section char-comics-error-section">
    <div class="comics-text-block">
      <p class="comics-subtitle char-comics-error-subtitle">
        Web-based platform
      </p>
      <h1 class="comics-title char-comics-error-title">404 page</h1>
      <p class="comics-desc char-comics-error-desc">
        Oops! That page can’t be found.
      </p>
      <button type="button" class="comics-btn back-home-btn">back home</button>
    </div>
  </section>
</section>
