<section class="comics-hero">
  <section class="comics-section container">
    <div class="comics-text-block">
      <p class="comics-subtitle char-comics-error-subtitle">
        Web-based platform
      </p>
      <h1 class="comics-title char-comics-error-title">Comics</h1>
      <p class="comics-desc char-comics-error-desc">
        Comics is a medium used to express ideas with images, often combined
        with text or other visual information.
      </p>
    </div>
    <div class="btn-position-comics">
      <a href="./index.html" class="comics-btn back-home-btn">back home</a>
    </div>
  </section>
</section>
