<section class="comics-hero char-comics-error-hero container">
  <section class="comics-section char-comics-error-section">
    <div class="comics-text-block">
      <p class="comics-subtitle char-comics-error-subtitle">
        Web-based platform
      </p>
      <h1 class="comics-title char-comics-error-title">Comics</h1>
      <p class="comics-desc char-comics-error-desc">
        Comics is a medium used to express ideas with images, often combined
        with text or other visual information.
      </p>
      <button class="comics-btn back-home-btn">
        <a href="../index.html">back home</a>
      </button>
  </section>
</section>
