<div class="container comics-form-section">
  <form class="comics-search-form">
    <div class="comics-form-wrapper comics-form-btn-wrap">
      <p class="comics-form-label">Title Starts With</p>
      <input
        class="comics-form-input comics-form-title"
        type="text"
        name="searchComics"
        autocomplete="off"
        placeholder="Enter comics"
      />
      <!-- <button type="submit" class="comics-form-btn"></button> -->
    </div>
    <div class="comics-form-wrapper">
      <p class="comics-form-label">Format</p>
      <select
        class="comics-form-input comics-order-select"
        data-action=""
        name="selectFormat"
      >
        <option>All</option>
        <option>-----------</option>
        <option>Comic</option>
        <option>Magazine</option>
        <option>Trade paperback</option>
        <option>Cardcover</option>
        <option>Digest</option>
        <option>Graphic novel</option>
        <option>Digital comic</option>
        <option>Infinite comic</option>
      </select>
    </div>

    <!-- <div class="comics-form-wrapper-add"> -->
    <div class="comics-form-wrapper">
      <p class="comics-form-label">Order by</p>
      <select
        class="comics-form-input comics-order-select"
        data-action=""
        name="selectOrder"
      >
        <option>Title</option>
        <option>On Sale Date</option>
      </select>
    </div>

    <div class="comics-form-wrapper">
      <p class="comics-form-label">Start Year</p>
      <select
        class="comics-form-input comics-order-select"
        name="selectDate"
        placeholder="Select year..."
        autocomplete="off"
      >
        <option>All Years</option>
        <option>-----------</option>
      </select>
      <!-- <input
        class="comics-form-input comics-data-select"
        name="selectDate"
        placeholder="Select year..."
        autocomplete="off"
      /> -->
    </div>
    <!-- </div> -->
  </form>

  <div class="comics-card-container rm-container"></div>
  <div id="tui-pagination-container" class="tui-pagination is-hidden"></div>
</div>
