<footer class="footer">
  <div class="container footer-container">
    <div class="footer-wrap">
      <svg class="footer-logo" width="98" height="15">
        <use src="./../img/icons.svg#icon-logo-mob"></use>
      </svg>
      <ul class="footer-list list">
        <li class="footer-item">
          <a href="partials/characters/character.html" class="footer-link link"
            >Characters</a
          >
        </li>
        <li class="footer-item">
          <a href="partials/comics/comics.html" class="footer-link link"
            >Comics</a
          >
        </li>
      </ul>
    </div>
    <div class="footer-social">
      <ul class="footer-soc-list list">
        <li class="footer-soc-item">
          <a
            href="#"
            class="footer-soc-link link"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="footer-soc-img">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-soc-item">
          <a
            href="#"
            class="footer-soc-link link"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="footer-soc-img" >
              <use href="./../img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-soc-item">
          <a
            href="#"
            class="footer-soc-link link"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="'footer-soc-img">
              <use href="/src/img/icons.svg#twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="bottom-page">
    <p class="bottom-txt">Privacy Policy Public Offering Agreement</p>
  </div>
</footer>
