<header class="header">

    <div class="container header-el">
        
            <a href="./index.html">
                <svg class="header-logo">
                  <use href="./img/icons.svg#icon-logo"></use>
                 
                </svg>
            </a>
            
              <form class="header-form" id="search-form">
                <button class="header-btn" type="submit">
                    <svg class="header-icon" width="18px" height="18px">
                        <use href="./img/icons.svg#search"></use>
                      </svg></button>
                <input
                  type="text"
                  name="searchQuery"
                  class="header-input"
                  placeholder="SEARCH"
                />
                
              </form>
</header>
