<header class="header">

    <div class="container header-el">
        
            <a href="../index.html">
                <svg class="header-logo">
                  <use href="./img/icons.svg#icon-logo-mob"></use>
                </svg>
            </a>
            <svg class="footer-soc-img">
                <use href="./img/icons.svg#search"></use>
            </svg>
            <input type="text" class="header-input" id="header-input" placeholder="SEARCH" />
           
       
    </div>
 
</header>
<h1>input character:<span id="header-output"></span>!</h1>