<!--HERO SECTION-->
<section class="hero container">
  <div class="hero-section">
    <p class="hero-subtitle">Web-based platform</p>
    <h1 class="hero-title">Marvelous Adventures</h1>
    <p class="hero-desc">
      is a web-based platform that provides an immersive experience for users to
      explore and discover a vast collection of Marvel characters and comics.
      Start exploring the Marvelous Adventures now by visiting our Characters
      and Comics sections and discover your new favorites today.
    </p>
    <ul class="hero-buttons-list">
      <li class="hero-button-item">
        <button class="hero-btn-characters"><a href="./character.html">Characters</a></button>
      </li>
      <li class="hero-button-item">
        <button class="hero-btn-comics"><a href="./comics.html">Comics</a></button>
      </li>
    </ul>
  </div>
  <!--SLIDER SECTION-->
  <div class="hero-slider-section">
    <!--SLIDER BUTTONS-->
    <ul class="slider-buttons">
      <li><button class="first-slider-btn slider-btn"></button></li>
      <li><button class="middle-slider-btn slider-btn"></button></li>
      <li><button class="last-slider-btn slider-btn"></button></li>
    </ul>
    <!--SLIDER IMAGES-->
    <div class="hero-slider">
      <ul class="hero-slider-images">
        <li>
          <img
            src="./img/hero-images/panther-slider.svg"
            class="blackpanther-slider-img slider-img"
            alt="blackpanther-hero"
          />
        </li>
        <li>
          <img
            src="./img/hero-images/spiderman-slider.svg"
            width="200"
            class="spiderman-slider-img slider-img"
            alt="spiderman-hero"
          />
        </li>
        <li>
          <img
            src="./img/hero-images/hulk-slider.svg"
            class="hulk-slider-img slider-img"
            alt="hulk-hero"
          />
        </li>
      </ul>
    </div>
    <!--HERO CARD SECTION-->
    <div class="hero-card-section">
      <!--HERO CARD IMAGES-->
      <ul class="hero-card-images">
        <li>
          <img
            src="./img/hero-images/panther-card.svg"
            class="blackpanther-card-img img-card"
            alt="blackpanther-hero"
          />
                <!--ARROW ICON BUTTON-->
    <a href="../character.html"><use href="../img/symbol-defs.svg#icon-icon-arrow"></use><svg class="hero-arrow-blue hero-arrow">
        
      </svg></a>
        </li>
        <li>
          <img
            src="./img/hero-images/spiderman-card.svg"
            class="spiderman-card-img img-card"
            alt="spiderman-hero"
          />
                          <!--ARROW ICON BUTTON-->
    <a href="../character.html"><svg class="hero-arrow-red hero-arrow">
        <use href="../img/symbol-defs.svg#icon-icon-arrow"></use>
      </svg></a>
        </li>
        <li>
          <img
            src="./img/hero-images/hulk-card.svg"
            class="hulk-card-img img-card"
            alt="hulk-hero"
          />
                          <!--ARROW ICON BUTTON-->
    <a href="../character.html"><svg class="hero-arrow-green hero-arrow">
        <use href="../img/symbol-defs.svg#icon-icon-arrow"></use>
      </svg></a>
        </li>
      </ul>
      <!--ARROW ICON BUTTON-->
      <!-- <svg class="hero-arrow">
        <use href="./img/icons.svg#icon-icon-arrow"></use>
      </svg> -->
      <!--THIN LINE-->
      <img src="../img/hero-images/line.svg" class="characters-border-line" alt="line">
      </img>
      <!--CHARACTERS INFO SECTION-->
      <div class="characters-section">
        <h3 class="characters">Characters</h3>
        <!--CHARACTERS DESCRIPTION-->
        <p class="characters-desc-blackpanther characters-desc">
          T’Challa is the king of the secretive and highly advanced African
          nation of Wakanda - as well as the powerful warrior known as the Black
          Panther.
        </p>
        <p class="characters-desc-spiderman">
          With amazing spider-like abilities, teenage science whiz Peter Parker
          fights crime and dreams of becoming an Avenger as Spider-Man.
        </p>
        <p class="characters-desc-hulk">
          Exposed to heavy doses of gamma radiation, scientist Bruce Banner
          transforms into the mean, green rage machine called the Hulk.
        </p>
      </div>
    </div>
  </div>
</section>
