<!--HERO SECTION-->
<section class="hero-section">
  <h2 class="hero-subtitle">Web-based platform</h2>
  <h1 class="hero-title">Marvelous Adventures</h1>
  <p class="hero-desc">
    is a web-based platform that provides an immersive experience for users to
    explore and discover a vast collection of Marvel characters and comics.
    Start exploring the Marvelous Adventures now by visiting our Characters and
    Comics sections and discover your new favorites today.
  </p>
  <ul class="hero-buttons-list">
    <li class="hero-button-item">
      <button class="hero-btn-characters">Characters</button>
    </li>
    <li class="hero-button-item">
      <button class="hero-btn-comics">Comics</button>
    </li>
  </ul>
</section>
<!--SLIDER SECTION-->
<section class="hero-slider-section">
  <!--SLIDER BUTTONS-->
  <ul class="slider-buttons">
    <li><button class="first-slider-btn"></button></li>
    <li><button class="middle-slider-btn"></button></li>
    <li><button class="last-slider-btn"></button></li>
  </ul>
  <!--SLIDER IMAGES-->
  <div class="hero-slider">
    <ul class="hero-slider-images">
      <li>
        <img
          src="/src/img/hero-images/blackpanther-slider-img.png"
          class="blackpanther-slider-img"
          alt="blackpanther-hero"
        />
      </li>
      <li>
        <img
          src="/src/img/hero-images/spiderman-slider-img.png"
          class="spiderman-slider-img"
          alt="spiderman-hero"
        />
      </li>
      <li>
        <img
          src="/src/img/hero-images/hulk-slider-img.png"
          class="hulk-slider-img"
          alt="hulk-hero"
        />
      </li>
    </ul>
    <!--SLIDER CIRCLE-->
    <ul class="hero-slider-circles">
      <li class="first-outer-circle"></li>
      <li class="second-outer-circle"></li>
      <li class="third-outer-circle"></li>
      <li class="fourth-outer-circle"></li>
      <li class="fifth-outer-circle"></li>
      <li class="sixth-outer-circle"></li>
      <li class="seventh-outer-circle"></li>
      <li class="eigth-outer-circle"></li>
      <li class="inner-circle"></li>
    </ul>
  </div>
  <!--HERO CARD SECTION-->
  <div class="hero-card-section">
    <!--HERO CARD IMAGES-->
    <ul class="hero-slider-images">
      <li>
        <img
          src="/src/img/hero-images/blackpanther-card-img.png"
          class="blackpanther-card-img"
          alt="blackpanther-hero"
        />
      </li>
      <li>
        <img
          src="/src/img/hero-images/spiderman-card-img.png"
          class="spiderman-card-img"
          alt="spiderman-hero"
        />
      </li>
      <li>
        <img
          src="/src/img/hero-images/hulk-card-img.png"
          class="hulk-card-img"
          alt="hulk-hero"
        />
      </li>
    </ul>
    <!--HERO CARD LINES-->
    <ul class="card-lines">
      <li class="first-card-line"></li>
      <li class="second-card-line"></li>
      <li class="third-card-line"></li>
      <li class="fourth-card-line"></li>
      <li class="fifth-card-line"></li>
      <li class="sixth-card-line"></li>
      <li class="seventh-card-line"></li>
      <li class="eigth-card-line"></li>
      <li class="ninth-card-line"></li>
    </ul>
    <!--HERO CARD CIRCLE-->
    <div class="circle-hero">
      <p class="cicle-hero-spiderman">Spider man</p>
      <p class="cicle-hero-blackpanther">Black Panther</p>
      <p class="cicle-hero-hulk">Hulk</p>
    </div>
    <!--ARROW ICON BUTTON-->
    <svg>
      <use href="/src/img/hero-images/symbol-defs.svg#icon-icon-arrow"></use>
    </svg>
    <!--THIN LINE-->
    <div class="characters-border-line"></div>
    <!--CHARACTERS INFO SECTION-->
    <div class="characters-section">
      <h3 class="characters">Characters</h3>
      <!--CHARACTERS DESCRIPTION-->
      <p class="characters-desc-blackpanther">
        T’Challa is the king of the secretive and highly advanced African nation
        of Wakanda - as well as the powerful warrior known as the Black Panther.
      </p>
      <p class="characters-desc-spiderman">
        With amazing spider-like abilities, teenage science whiz Peter Parker
        fights crime and dreams of becoming an Avenger as Spider-Man.
      </p>
      <p class="characters-desc-hulk">
        Exposed to heavy doses of gamma radiation, scientist Bruce Banner
        transforms into the mean, green rage machine called the Hulk.
      </p>
    </div>
  </div>
</section>
