    <section class="lastcomics-section">
        <div class="lastcomics-wrapper">
                <div class="additional-wrapper">
                    <h2 class="lastcomics-title">Last Comics</h2>
                    <a href="#" class="lastcomics-link">
                        <svg class="arrow-icon" width="32" height="32">
                            <use href="./img/icons.svg#icon-arrow"></use>
                        </svg>
                    </a>
                </div>
            <div class="lastcomics-url-container">
                        <a href="#" class="lastcomics-link-comics">
                            <img src="https://loremflickr.com/448/519" alt="Comics cover" class="lastcomics-image">
                            <h3 class="lastcomics-comics-title">Immortal Xmen</h3>
                            <p class="lastcomics-descr">Kieron Giller</p>
                        </a>
                </ul>
            </div>
        </div>
    </section>