    <section class="lastcomics-section">
        <div class="lastcomics-wrapper container">
                <div class="additional-wrapper">
                    <h2 class="lastcomics-title">Last Comics</h2>
                    <a href="#" class="lastcomics-link">
                        <svg class="arrow-icon" width="32" height="32">
                            <use href="./img/icons.svg#icon-arrow"></use>
                        </svg>
                    </a>
                </div>
            <div class="lastcomics-url-container">
                </ul>
            </div>
        </div>
    </section>
    