<section class="lastcomics-section">
    <div class="lastcomics-wrapper container">
        <div class="additional-wrapper">
            <h2 class="lastcomics-title">Last Comics</h2>
            <a href="./comics.html" class="lastcomics-link" rel="nofollow noreferrer noopener">
                <span>
                    <img src="./img/last-comics-arrow.png" alt="To comics page" class="arrow-icon">
                </span>
            </a>
        </div>
        <div class="swiper">
            <div class="swiper-wrapper rm-container">
                <!--<div class="lastcomics-url-container">
                    </div>-->
            </div>
            <div class="comics-buttons">
                <button type="button" class="swiper-button-prev left-slider"></button>
                <button type="button" class="swiper-button-next right-slider"></button>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
</section>