<section class="rc-section">
    <div class="container rc-container">
    <h2 class="rc-title">Random Characters</h2>
    <ul class="rc-list">
        <li class="rc-item">
            <img src="./img/image.jpg" alt="" class="rc-img" width="335" height="335">
            <ul class="rc-descr-list">
                <li class="rc-descr-item">
                    <h3 class="rc-descr-title">Ant-Man</h3>
                    <p class="rc-descr-text">Thief turned hero Scott Lang uses size manipulation tech to infiltrate bases and intimidate bad guys.</p>
                </li>
                <li class="rc-descr-item">
                    <h3 class="rc-descr-title">The Wasp </h3>
                    <p class="rc-descr-text">Hope Van Dyne, daughter of the brilliant and heroic Ant-Man (Hank Pym) and The Wasp (Janet van Dyne), helps trains her father’s successor Scott Lang and secure the destruction of the Yellowjacket technology.</p>
                </li>
                <li class="rc-descr-item">
                    <h3 class="rc-descr-title">Cassie Lang</h3>
                    <p class="rc-descr-text">As Scott Lang’s young daughter, Cassie is super proud of her dad’s heroics as Ant-Man.</p>
                </li>
                <li class="rc-descr-item">
                    <h3 class="rc-descr-title">Kang The Conqueror</h3>
                    <p class="rc-descr-text">The character is most frequently depicted as an opponent of the Avengers and the Fantastic Four.</p>
                </li>
                <li class="rc-descr-item">
                    <h3 class="rc-descr-title">Hank Pym</h3>
                    <p class="rc-descr-text">Hank Pym is a brilliant scientist who used his discovery of the shrinking Pym Particles, the suit that could survive the process, and insect communication waves, to turn himself into the original Ant-Man.</p>
                </li>
            </ul>
        </li>
    </ul>
    <div class="rc-btn-container">
      <button class="rc-btn"> All Characters</button>
    </div>
</div>
<script type="module" src="../js/randomchar.js"></script>
</section>