<section class="rc-section">
  <div class="container rc-container">
    <h2 class="rc-title">Random Characters</h2>
    <div id="loader">
      <!-- Skeleton images -->
    </div>
    <div class="rc-box">
    <ul id="slides" class="rc-list"></ul>
    <div class="slider-container">
      <div class="slider-blank-box"></div>
      <ul class="rc-descr-list"></ul>
    </div></div>
    <div class="rc-btn-container">
      <a href="./character.html" class="rc-btn">All Characters</a>
    </div>
  </div>

  <!-- <script type="module" src="./js/randomchar.js"></script> -->
</section>


