<section class="rc-section">
  <div class="container rc-container">
    <h2 class="rc-title">Random Characters</h2>
    <ul id="slides" class="rc-list"></ul>
    <div class="slider-container">
      <div class="slider-blank-box"></div>
      <ul class="rc-descr-list"></ul>
    </div>
    <div class="rc-btn-container">
      <button class="rc-btn">All Characters</button>
    </div>
  </div>

  <!-- <script type="module" src="./js/randomchar.js"></script> -->
</section>

<!-- <ul class='rc-descr-list'>
  <li class='rc-descr-item'>
    <h3 data-set="${id}" class='rc-descr-title'>${name}</h3>
    <p  data-set="${id}"class='rc-descr-text'>${description}</p>
  </li>
</ul>
</li> -->
