@import url(./reset.css);
@import url(./costants.css);
/* body {
  margin: 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
} */
.error-hero {
  width: 100vw;
  height: 100vh;

  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  background-color: rgba(115, 5, 5, 1);
  background-image: radial-gradient(
    ellipse farthest-corner at 50% 50%,
    rgba(115, 5, 5, 1) 30%,
    rgba(12, 11, 11, 1) 100%
  );
  background-size: 100%;
}
.error-section {
  width: 100vw;
  height: 100vh;
  padding-left: 20px;
  padding-top: 20px;
  background-image: url('../img/error-big-res.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left -80px top 314px;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 325dpi),
  (min-resolution: 2dppx) {
  .error-section {
    background-image: url('../img/error-big-res.png');
  }
}
.char-comics-error-section {
  color: var(--text07);
}
.error-text-block {
  width: 89vw;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
}
.char-comics-error-subtitle {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 0.86;
  margin-top: 61px;
  margin-bottom: 16px;
}
.error-title {
  box-sizing: border-box;
  display: flex;
  font-weight: 500;
  font-size: 60px;
  line-height: 0.67;
}
.char-comics-error-title {
  color: var(--text);
  text-align: center;
  letter-spacing: 2%;
  margin-bottom: 25px;
}
.error-desc {
  font-size: 14px;
  line-height: 0.86;
}
.char-comics-error-desc {
  color: var(--text);
  font-weight: 400;
}
.error-btn {
  position: absolute;
  display: block;
  bottom: -54px;
}
.back-home-btn {
  color: var(--text);
  width: 110px;
  height: 36px;
  border-radius: 1000px;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  border: 1px solid rgba(250, 250, 250, 0.5);
}
/* ============ media ================================== */

@media screen and (min-width: 375px) {
  .error-text-block {
    max-width: 89vw;
  }
}

@media screen and (min-width: 768px) {
  .error-section {
    padding-left: 32px;
    padding-top: 24px;
    background-size: 900px 979px;
    background-position: left -23px top 463px;
  }
  .error-text-block {
    width: 92vw;
  }
  .char-comics-error-subtitle {
    line-height: 0.67;
    margin-top: 91px;
    margin-bottom: 16px;
  }
  .error-title {
    font-size: 140px;
  }

  .char-comics-error-desc {
    font-size: 16px;
    line-height: 0.83;
    margin-top: 40px;
  }
  .error-btn {
    bottom: -60px;
  }
  .back-home-btn {
    width: 131px;
    height: 42px;
    font-size: 14px;
    line-height: 1.86;
  }
}

@media screen and (min-width: 1440px) {
  .error-section {
    background-position: left 635px top 0px;
  }
  .error-text-block {
    width: 58vw;
    height: auto;
  }
  .char-comics-error-subtitle {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    margin-top: 223px;
  }
  .char-comics-error-title {
    font-size: 150px;
    line-height: 0.67;
  }
  .char-comics-error-desc {
    font-size: 16px;
    line-height: 1.83;
  }
  .error-btn {
    bottom: -160px;
  }
  .back-home-btn {
    width: 131px;
    height: 42px;
    font-size: 14px;
    line-height: 1.86;
  }
}
/* ==================== hover ===================== */
/* .error-btn {
  text-decoration: none;
  /* border: 1px solid rgb(146, 148, 248); */
/* position: relative;
  overflow: hidden; */
/* } */

/* .error-btn:hover {
  box-shadow: 1px 1px 15px 10px rgba(140, 3, 3, 0.561);
}

.error-btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(132, 71, 71, 0.751),
    transparent
  );
  transition: all 650ms;
}

.error-btn:hover:before {
  left: 100%;
} */
