@import url(./reset.css);
@import url(./costants.css);

.error-hero {
  width: 100vw;
  height: 100vh;
  background-color: rgba(115, 5, 5, 1);
  background-image: radial-gradient(
    circle,
    rgba(115, 5, 5, 1) 0%,
    rgba(12, 11, 11, 1) 100%
  );
  background-size: 100%;
}
.error-section {
  width: 100vw;
  height: 100vh;
  padding-left: 20px;
  padding-top: 20px;
  background-image: url('../img/error-big-res.png');
  background-repeat: no-repeat;
  background-size: 571px 622px;
  background-position: left -60px top 314px;
}
.char-comics-error-section {
  color: var(--text07);
}
.error-text-block {
  width: 89vw;
  margin-top: 61px;
}
.error-subtitle {
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 16px;
}
.char-comics-error-subtitle {
  text-transform: uppercase;
  font-weight: 400;
}
.error-title {
  box-sizing: border-box;
  display: flex;
  font-weight: 500;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.02;
  padding-bottom: 16px;
}
.char-comics-error-title {
  color: var(--text);
  text-align: center;
}
.error-desc {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02;
  padding-bottom: 16px;
}
.char-comics-error-desc {
  color: var(--text);
  font-weight: 400;
}
.error-btn {
  display: block;
  text-align: center;
  padding: 8px;
}
.back-home-btn {
  color: var(--text);
  width: 110px;
  height: 36px;
  border-radius: 1000px;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  border: 1px solid rgba(250, 250, 250, 0.5);
}
/* ============ media ================================== */

@media screen and (min-width: 768px) {
  .error-section {
    padding-left: 32px;
    padding-top: 24px;
    background-size: 900px 979px;
    background-position: left -23px top 463px;
  }
  .error-text-block {
    width: 92vw;
    margin-top: 61px;
  }

  .error-title {
    font-size: 140px;
    line-height: 140px;
  }
  .error-desc {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 32px;
  }

  .back-home-btn {
    width: 131px;
    height: 42px;
    font-size: 14px;
    line-height: 1.86;
  }
}

@media screen and (min-width: 1440px) {
  .error-section {
    background-size: 900px 979px;
    background-position: left 635px top 0px;
  }
  .error-text-block {
    width: 58vw;
    height: auto;
    margin-top: 223px;
  }
  .error-subtitle {
    font-size: 18px;
    line-height: 29px;
  }
  .char-comics-error-subtitle {
    text-transform: uppercase;
    font-weight: 400;
  }
  .error-title {
    font-size: 150px;
    line-height: 150px;
  }
  .error-desc {
    padding-bottom: 40px;
  }

  .back-home-btn {
    width: 131px;
    height: 42px;
    font-size: 14px;
    line-height: 1.86;
  }
}
