@import url(./costants.css);
@import url(./reset.css);
/* @import url(/node_modules/js-datepicker/dist/datepicker.min.css); */
.char-form-section {
  background-color: var(--background);
  padding-top: 20px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .char-form-section {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.char-search-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: start;
  /* justify-content: center; */
  text-align: left;
}

@media screen and (min-width: 768px) {
  .char-search-form {
    flex-direction: row;
    gap: 8px;
  }
}
@media screen and (min-width: 1440px) {
  .char-search-form {
    padding-right: 290px;
    padding-left: 290px;
    gap: 16px;
  }
}
.char-form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.char-form-btn-wrap {
  position: relative;
}
@media screen and (min-width: 1440px) {
  .char-form-btn-wrap {
    width: 150%;
  }
}
.char-form-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 36px;
  right: 16px;
  border: none;
  cursor: pointer;
  outline: none;
  background: url('../img/search_001.svg') no-repeat;
  background-position: 95% 50%;

  background-color: transparent;
}

.char-form-label {
  color: var(--text03);
  margin: 0px 0px 8px;
  padding: 0;
  font-size: 12px;
  line-height: 1.17;
}

.char-form-input {
  background-color: transparent;
  color: #fafafa;
  box-sizing: border-box;
  padding-left: 24px;

  width: 100%;
  /* width: 335px; */
  height: 46px;

  border: 2px solid var(--btn3);
  border-radius: 100px;
}

.char-form-input::placeholder {
  color: #fafafa;
}
.char-form-input:hover {
  background-color: var(--btn3);
}
.char-order-select {
  cursor: pointer;
  padding-right: 24px;
  appearance: none;
  overflow: hidden;
  background: url('../img/chevron-down.svg') no-repeat;
  background-position: 95% 50%;
}
.char-order-select:hover {
  background-color: var(--background);
}
.char-data-select {
  cursor: pointer;
  background: url('../img/chevron-down.svg') no-repeat;
  background-position: 95% 50%;
}
.char-form-wrapper-add {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .char-form-wrapper-add {
    width: 200%;
  }
}
.char-card-container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}
@media screen and (min-width: 768px) {
  .char-card-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 32px;
    row-gap: 32px;
  }
}
@media screen and (min-width: 768px) {
  .char-card-container {
    padding-top: 64px;

    column-gap: 16px;
    row-gap: 64px;
  }
}
.char-card {
  transform: scale(1);
  transition: transform var(--duration);
}
.char-card:hover {
  transform: scale(1.01);
}
.char-card-image {
  margin: 0;
  padding: 0;
  display: block;
  width: 335px;
  height: 445px;
  /* object-fit: cover; */

  border-radius: 10px;
}
@media screen and (min-width: 1440px) {
  .char-card-image {
    width: 332px;
  }
}
.char-card-descr {
  width: 100%;
  margin-top: 16px;
}
.char-card-descr-name {
  width: 330px;
  color: var(--text);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
}
@media screen and (min-width: 768px) {
  .char-card-descr-name {
    font-size: 24px;
    line-height: 1;
  }
}
.char-error {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 267px;
  height: 152px;
  background: url('../img/frame_error.svg') no-repeat;
  background-position: 50% 50%;

  background-color: transparent;
}
