@import url(./costants.css);
@import url(./reset.css);
/* @import url(/node_modules/js-datepicker/dist/datepicker.min.css); */
.char-form-section {
  background-color: black;
}
.char-search-form {
  position: relative;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: start;
  /* justify-content: center; */
  text-align: left;
}
.char-form-btn {
  position: absolute;
  top: 50px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  outline: none;
  background: url('../img/search_001.svg') no-repeat;
  background-position: 95% 50%;

  background-color: transparent;
}
.char-search-icon {
  fill: #fafafa;
}
.char-form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.char-form-label {
  color: rgba(250, 250, 250, 0.3);
  margin: 0px 0px 4px;
  padding: 0;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */

  font-size: 12px;
  line-height: 1.17;
}

.char-form-input {
  /* display: block; */
  background-color: transparent;
  color: #fafafa;
  box-sizing: border-box;
  padding-left: 24px;

  width: 100%;
  /* width: 335px; */
  height: 46px;

  border: 2px solid #34387f;
  border-radius: 100px;
}

.char-form-input::placeholder {
  color: #fafafa;
}
.char-form-input:hover {
  background-color: #34387f;
}
.char-order-select {
  /* width: 170px; */
  padding-right: 24px;
  appearance: none;
  overflow: hidden;
  background: url('../img/chevron-down.svg') no-repeat;
  background-position: 95% 50%;
}
.char-order-select:hover {
  background-color: black;
}
.char-form-wrapper-add {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
