:root {

    --logo: #ED1D24;
    --background:  #0C0B0B;
    --find: #171717;
    --text: #FAFAFA;
    --text07: rgba(255, 255, 255, 0.7);
    --text05: rgba(255, 255, 255, 0.5);
    --text03: rgba(255, 255, 255, 0.3);
    --border: rgba(250, 250, 250, 0.15);
    --btn1: #600404;
    --btn2: #5B7F3C;
    --btn3: #34387F;
    --random_characters: #4B50AD;

    --duration: 250ms;

}