@import url(./costants.css);


.header {
  padding: 20px 0;
  justify-content: center;
  position: sticky;
  top: 0px;
  z-index: 1000;
}

.header-el {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.header-logo {
  width: 98px;
  height: 15px;
}

.header-color {
  background-color: var(--background);
  box-shadow: 0px 0px 1px var(--text05);
}

.header-icon {
  position: absolute;
  top: 50%;
  left: 18px;
  width: 16px;
  height: 16px;
  transform: translateY(20%);
  fill: var(--text);
  
}
/* 
.header-form {
  width: 0px;
} */

.header-btn {
  background: transparent;
  /* position: relative; */
  position: absolute; 
  outline: none;
  border-color: transparent;

}

.header-input {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: var(--text);
  background: transparent;padding: 7px 18px 7px 42px;
  /* justify-content: center;
  align-items: center; */
  border: 1px solid  var(--text03);
  border-radius: 1000px;
  width: 108px;
}

.header-input::placeholder {
  font-weight: bold;
  /* opacity: 0.5; */
  color: var(--text);
}


/* ГАЛЕРЕЯ  =========================*/

.header-find{
  display: flex;
  column-gap: 16px;
row-gap: 40px;
}


.gallery__link {
gap: 16px;
  /* flex-basis: calc((100% - 180px) / 4); */
  border: none;
  /* overflow: hidden; */
  transition: all 0.3s;
 
}

.gallery__link:hover,
.gallery__link:focus {
  transform: scale(1.05);
}

.gallery,
.info {
  display: flex;
  flex-wrap: wrap;
}

.gallery {
  justify-content: center;  
}

.gallery-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 485px;

}

.gallery-item__img {
  display: block;
  /* height: 30vh; */

}

.header-find-img {
  width: 332px;
  height: 445px;
}


.header-find-text {
  /* hyphens: auto;
  overflow: hidden; */
  font-size: 14px;
  font-style: normal;
font-weight: 500;
width: 332px;

}

/* пагинация=================== */
.pagination {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 4px;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: var(--text);
  border-color: #007bff;
}

/* background: #171717;
border: 1px solid rgba(250, 250, 250, 0.3);
border-radius: 4px; */

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: var(--text);
  background-color: var(--background);
  border: 1px solid #dee2e6;
}

.page-link:hover {
  z-index: 2;
  color: #0056b3;
  text-decoration: none;
  background-color: var(--background);
  border-color: #dee2e6;
}

.page-link:focus {
  z-index: 2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: var(--text03);
  border-color: #dee2e6;
}


@media screen and (min-width: 768px) {
  .header-logo {
    width: 202px;
    height: 31px;
  }

  .header-input {
  width: 130px;
  height: 42px;
  font-size: 14px;
  padding: 12px 18px 12px 50px;
  }

.header-icon {
  width: 18px;
  height: 18px;
  left: 24px;
  transform: translateY(50%);
}

.header-find{
  display: flex;
  column-gap: 16px;
row-gap: 16px;
}
 
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-left: 32px;
    padding-right: 32px;

  }

  .header-find{
    display: flex;
    column-gap: 16px;
  row-gap: 16px;
}

}