@import url(./costants.css);

body {
  background-color: var(--background);
}

.hero {
  margin-bottom: 80px;
}

.hero-section {
  font-family: 'Poppins';
  color: var(--text);
}

.hero-subtitle {
  font-family: 'Poppins';
  text-transform: uppercase;
  color: var(--text07);
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
}

.hero-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 44px;
  line-height: 1;
  display: flex;
  align-items: center;
}

.hero-desc {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.29;
}

.hero-buttons-list {
  display: flex;
  align-items: center;
  gap: 8px;
}

.hero-btn-characters {
  background-color: var(--btn3);
  color: var(--text);
  padding: 10px 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
}

.hero-btn-characters:hover {
  background-color: #272a65;
  transition: 0.1s ease-in-out;
  transform: scale(1.01);
}

.hero-btn-comics {
  background-color: transparent;
  color: var(--text);
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 100px;
  border: 1px solid var(--text05);
}

.hero-btn-comics:hover {
  background-color: rgb(47, 30, 64);
  transition: 0.1s ease-in-out;
  transform: scale(1.01);
}

/* NEEDS TO BE CHANGED AFTER JS SLIDER*/
.spiderman-slider-img,
.hulk-slider-img,
.spiderman-card-img,
.hulk-card-img,
.characters-desc-spiderman,
.characters-desc-hulk {
  display: none;
}

/* NEEDS TO BE CHANGED AFTER JS SLIDER*/
.slider-buttons {
  position: relative;
  right: 155px;
  top: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transform: rotate(90deg);
  gap: 14px;
  margin-bottom: 18px;
}

.slider-btn {
  background-color: rgba(23, 23, 23, 0.8);
  border: none;
  width: 72px;
  height: 4px;
}

.first-slider-btn {
  background-color: var(--btn3);
}

.slider-img {
  margin-left: 18px;
  margin-bottom: 20px;
}

.img-card {
  margin-left: 105px;
  margin-bottom: 14px;
  box-shadow: -5px 80px 60px 10px #3840da4d;
  background: #171717;
}

.hero-arrow {
  /* display: block; */
  position: relative;
  top: -45.5px;
  right: -304px;
  fill: #34387f;
  width: 22px;
  height: 22px;
}

.hero-arrow-green,
.hero-arrow-red {
  display: none;
}

.characters-border-line {
  position: relative;
  left: 109px;
  width: 230px;
  margin-bottom: 16px;
}

.characters {
  color: var(--text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
}

.characters-section {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.characters-desc {
  width: 127px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: var(--text05);
}

.slider-img,
.img-card {
  width: 237px;
  height: 343px;
}

@media screen and (min-width: 768px) {
  .hero-subtitle {
    font-size: 18px;
    margin-bottom: 16px;
    line-height: 1.6;
  }

  .hero-title {
    font-size: 80px;
  }

  .hero-desc {
    width: 473px;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 32px;
  }

  .hero-buttons-list {
    margin-bottom: 90px;
  }

  .hero-btn-characters {
    padding: 12px 24px;
  }

  .hero-btn-comics {
    padding: 12px 24px;
  }

  .slider-img,
  .img-card {
    margin-left: 0;
    width: 336px;
    height: 540px;
  }

  .hero-slider-section {
    display: flex;
    column-gap: 32px;
  }

  .slider-buttons {
    display: flex;
    left: 540px;
    top: 290px;
    transform: rotate(0deg);
    width: 0;
  }

  .img-card {
    position: relative;
    top: -65px;
  }

  .hero-arrow {
    /* display: block; */
    position: relative;
    top: -138px;
    right: -289.5px;
    fill: #34387f;
    width: 33px;
    height: 32px;
  }

  .characters-border-line {
    width: 336px;
    left: 0px;
    top: -68px;
  }

  .characters-section {
    justify-content: start;
    gap: 65px;
    position: relative;
    top: -70px;
  }

  .characters-desc {
    width: 195px;
  }

  .slider-btn {
    width: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-title {
    width: 538px;
  }

  .hero {
    margin-bottom: 168px;
  }

  .hero-desc {
    width: 527px;
  }

  .hero-section {
    margin-right: 66px;
    gap: 134px;
  }

  .hero {
    display: flex;
  }

  .hero-card-section {
    position: relative;
  }

  .hero-slider-section {
    display: flex;
    justify-content: end;
  }

  .slider-buttons {
    transform: rotate(90deg);
    left: -22px;
    top: 245px;
  }

  .slider-img,
  .img-card {
    width: 352px;
    height: 540px;
  }

  .img-card {
    position: absolute;
    top: -120px;
    left: 45px;
  }

  .slider-img {
    position: relative;
    top: 110px;
  }

  .characters-border-line {
    top: 400px;
    left: 46px;
  }

  .characters-section {
    top: 400px;
    left: 45px;
  }

  .hero-arrow {
    position: relative;
    top: 363px;
    right: -337px;
    fill: #34387f;
    width: 33px;
    height: 33px;
  }
}