@import url(./costants.css);
@import url(./reset.css);
.comics-hero {
  margin: 0 auto;
  min-height: 461px;
  position: relative;
  background-clip: content-box;
  background: radial-gradient(
      circle,
      rgba(12, 11, 11, 0) 10%,
      rgba(12, 11, 11, 1) 100%
    ),
    url(../img/comics-big-res.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.comcs-section {
  background-origin: border-box;
  background-color: rgba(12, 11, 11, 1);
  background-size: cover;
  background-position: top -60px;
}
.comics-text-block {
  min-width: 335px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
  flex: 50%;
}
.comics-title {
  box-sizing: border-box;
  display: flex;
  font-weight: 500;
  font-size: 60px;
  line-height: 0.67;
}
.comics-desc {
  width: 335px;
  height: auto;
  font-size: 16px;
  line-height: 0.83;
  text-align: left;
  letter-spacing: 0.02;
  flex: 50%;
}
.comics-btn {
  position: absolute;
  display: block;
  bottom: 20px;
  right: 26px;
  text-align: center;
  /* text-align: center; */
  padding: 8px;
}
@media screen and (min-width: 768px) {
  .comics-hero {
    min-height: 700px;
    background-image: radial-gradient(
        circle,
        rgba(12, 11, 11, 0) 10%,
        rgba(12, 11, 11, 1) 100%
      ),
      url(../img/comics-big-res.jpeg);
    background-position: left 169px top 86px;
  }

  .comics-title {
    font-size: 150px;
  }
  .comics-desc {
    width: 469px;
    align-items: end;
  }
  .comics-btn {
    bottom: 32px;
    right: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .comics-hero {
    background-image: radial-gradient(
        circle,
        rgba(12, 11, 11, 0) 10%,
        rgba(12, 11, 11, 1) 100%
      ),
      url(../img/comics-big-res.jpeg);
    background-position: left 348px top 2px;
  }

  .comics-btn {
    bottom: 64px;
  }
}
