@import url(./costants.css);

.lastcomics-section {
    padding-top: 80px;
}


.lastcomics-wrapper {
    padding-left: 15px;
    padding-right: 15px;
}


.lastcomics-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-bottom: 44px;
    color: #FAFAFA;
}


.lastcomics-url-container {
    display: flex;
    column-gap: 14px;
}

.comics-container {
    width: 323px;
}
.lastcomics-image {
    display: block;
    margin-bottom: 14px;
    border-radius: 8px;
}

.lastcomics-comics-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 8px;
    letter-spacing: -0.02em;
    color: #FAFAFA;
}

.creator-names {
    font-size: 14px;
    line-height: 1.29;
    color: rgba(250, 250, 250, 0.5);
}

.lastcomics-descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    color: rgba(250, 250, 250, 0.5);
}


.comics-buttons {
    display: flex;
    justify-content: center;
    column-gap: 14px;
    margin-top: 20px;
}

.swiper-button-prev,
.swiper-button-next {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border-color: rgba(250, 250, 250, 0.3);
    background-color: transparent;
    font-size: 20px;
    color: rgba(250, 250, 250, 0.3);
}

.clicked{
    background-color: #34387F;
    color:#FAFAFA;
}


@media screen and (min-width: 768px) {

    .lastcomics-wrapper {
        width: 734px;
        margin-left: auto;
        margin-right: auto;
    }

    .lastcomics-title {
        font-size: 44px;
        line-height: 1;
    }


    .comics-container {
        width: 448px;
    }


    .lastcomics-image {
        width: 448px;
        height: 600px;
        margin-bottom: 8px;
    }

    .lastcomics-comics-title {
        font-size: 24px;
        line-height: 1;
    }

    .creator-names {
        font-size: 16px;
        line-height: 1.12;
        color: rgba(250, 250, 250, 0.5);
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 44px;
        height: 44px;
    }

    .arrow-icon {
        fill: #34387F;
    }
}

@media screen and (min-width: 1440px) {
    
    .additional-wrapper {
        display: flex;
        justify-content: space-between;
    }
    
    .swiper-wrapper {
        width: 1376px;
        height: 693px;
    }
    
    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }    

    .lastcomics-image {
        width: 448px;
        height: 600px;
    }

    .lastcomics-wrapper {
        width: 1406px;
    }

    
}