@import url(./costants.css);

.lastcomics-section {
    padding-top: 80px;
}    

.lastcomics-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-bottom: 44px;
    color: #FAFAFA;
}

.arrow-icon {
    display: none;
}

.lastcomics-url-container {
    display: flex;
    column-gap: 14px;
}

.lastcomics-image {
    display: block;
    object-fit: cover;
    margin-bottom: 14px;
    border-radius: 8px;
}

.lastcomics-comics-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 4px;
    letter-spacing: -0.02em;
    color: #FAFAFA;
}

.lastcomics-descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    color: rgba(250, 250, 250, 0.5);
}

@media screen and (min-width: 768px) {
    .lastcomics-title {
        font-size: 44px;
        line-height: 1;
    }
    .lastcomics-image {
        width: 448px;
        height: 519px;
        margin-bottom: 8px;
    }
    .lastcomics-comics-title {
        font-size: 24px;
        line-height: 1;
    }
}

@media screen and (min-width: 1440px) {
    .lastcomics-image {
        width: 448px;
        height: 519px;
    }
    .arrow-icon {
        display: block;
    }
    .additional-wrapper {
        display: flex;
        justify-content: space-between;
    }
}