@import url(./costants.css);


.backdrop{
   position: relative;
    background-color: black;
    padding-top: 14px;
}

.comics-discription{
    font-size: 10px;

}

.modal-close-btn{
position: absolute;
    top: 14px;
    right: 14px;
  width: 20px;
  height: 20px;
  border-color: transparent;
  background-color: black;
}

.icon{
fill: white;
}

.modal-main-img{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;

}

.modal-slide{
   display: flex;
   justify-content: space-between;

}

.modal-slide-img{
    border-radius: 8px;
}