@import url(./costants.css);
@import url(./reset.css);




.backdrop-two {


    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;

    background-color:black;
}

.modal-box-two{
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 335px;

    padding-right: 8px;
}

.is-concealed {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-close-btn{
    position: absolute;
    top: -24px;
    right: 14px;
    width: 20px;
    height: 20px;
    border-color: transparent;
    background-color: var(--background);
    border: none;
    cursor: pointer;
    outline: none;
    background: url('../img/modal2/x.svg') no-repeat;
    background-position: 50% 50%;
}



.modal-main-img{
    width: 295px;
    height: 387px;
    margin-top: 40px;
    margin-left: 12px;
    margin-right: auto;
    border-radius: 8px;
    background-color: var(--text);
}

.modal-slide-img{
    background-color: var(--text);
    border-radius: 8px;
    width: 80px;
    height: 80px; 

}

.modal-slide-list{
   display: flex;
   margin-top: 8px;
   margin-left: 12px;
   gap: 8px;
}

.comics{
    background-color: var(--find);
    border-radius: 8px;
    margin-top: 16px;
    margin-right: 20px;
    margin-left: 12px;
    padding-bottom: 32px;
    padding-top: 32px;
    padding-left: 16px;
    width: 295px;
}


.comics-movie-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: var(--text);
}


.comics-date{
    font-size: 14px;
    line-height: 1.29;
    color: var(--text05);
    margin-top: 4px;
}

.comics-description{
    font-size: 14px;
    line-height: 1.29;
    display: flex;
    align-items: center;
    margin-top: 16px;
    color: var(--text);
    width: 263px;
}


/* .comics-discription {
    font-size: 10px;

} */
.comics-list-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    margin-top: 32px;
    letter-spacing: -0.02em;
    color: var(--text);
}

.comics-list-item{
    display: block;
    margin-top: 16px;
    margin-bottom: 32px;
    margin-right: auto;
    margin-left: auto;
}

.comics-list-item:last-child {
   margin-bottom: 0px;
}

.comics-list-el{
    width: 263px;
    height: 263px;
    background-color: var(--text);
    border-radius: 8px;
}

.comics-list-movie{
   
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    
    letter-spacing: -0.02em;
    color: var(--text);
    margin-top: 16px;
}

.comics-movie-hero{
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
    margin-top: 4px;
    margin-bottom: 32px;
    color: var(--text05);
}




@media screen and (min-width: 768px) {
    .modal-box-two {
        width: 600px;
    
    }
   
    .modal-close-btn {
        top: 24px;
        right: 14px;
        width: 20px;
        height: 20px;
        border-color: transparent;
        background-color: var(--background);
    }


    .spray{
        display: flex;
    }


    .modal-main-img {
        width: 332px;
        height: 445px;
        margin-top: 64px;
        margin-left: 32px;
        margin-right: 8px;
    }

    /* .modal-hero{
        display: flex;
        justify-content: flex-start;
       } */

    .modal-slide-list {
      flex-direction: column;
        margin-left: 0px;
        gap: 8px;
        margin-top: 64px;
    }

    .modal-slide-img {
       margin-bottom: 8px;
    }
    
    .comics {
        width: 536px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 64px;
        padding-right: 16px;
    }

    .comics-title-date{
        display: flex;
        justify-content: space-between;
        margin-right: 10px;
    }

    .comics-movie-title {
        font-size: 24px;
        line-height: 1.0;
    }

    .comics-description {
        font-size: 16px;
        line-height: 1.12;
        width: auto;
    }

    .comics-list-title {
        font-size: 24px;
        line-height: 1.0;
    }

    .comics-list{
        display: flex;
        gap: 19px;
    }

    .comics-list-el {
        margin-top: 16px;
        width: 155px;
        height: 200px;
    }

    .comics-list-movie {
        font-size: 14px;
    }

}


@media screen  and (min-width: 1440px) {
    .modal-box-two {
        width: 1000px;
         
    }
   
    .modal-main-img {
        width: 332px;
        height: 445px;
        margin-top: 50px;
        margin-left: 24px;
    }
    
    .modal-hero {
        display: block;
        margin-right: 16px;
       
    }

    .spray {
        
        flex-direction: column;

    }

    .modal-two{
        display: flex;
        justify-content: space-between;
    }

    .modal-slide-list {
        flex-direction: row;
        margin-top: 8px;
        margin-left: 24px;
        gap: 8px;
    }

    .comics {
        width: 588px;
        margin-bottom: 64px;
    }


    .comics-list-el {
        width: 174px;
        height: 200px;
        
    }

    .comics-title-date {
        display: flex;
        justify-content: space-between;
        margin-right: 10px;
    }

    .comics-list {
        display: flex;
        justify-content: space-between;
    }

    .comics{
        margin-top: 50px;
        margin-left: 0;
    }

    .comics-title-date {
        display: flex;
        justify-content: space-between;
        margin-right: 16px;
    }
    
   .comics-description {
       font-size: 16px;
       line-height: 1.12;
       width: 556px;
       
   }
  
    .comics-list-title {
        font-size: 24px;
        line-height: 1.0;
        margin-top: 64px;
    }

    .comics-list-movie {
        font-size: 14px;
    }

    .comics-list-item {
        margin-top: 16px;
        margin-bottom: 0px;
    }

   }



