@import url(./costants.css);
@import url(./reset.css);


@media screen and (min-width: 375px) {
.comics-discription {
        font-size: 10px;

    }

 .is-concealed {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
} 
    .backdrop-one {
         position: fixed; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;

        background-color: rgba(90, 90, 90, 0.788);
    }

    .modal-box {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 auto;
        width: 335px;
        padding-left: 0px;
        padding-right: 0px;
        background-color: var(--background);
    }

    .modal-close-icon-modal {

        top: -24px;
        right: 10px;
        width: 20px;
        height: 20px;
        border-color: transparent;
        background-color: var(--background);
        border: none;
        cursor: pointer;
        outline: none;
        background: url('../img/modal/x.svg') no-repeat;
        background-position: 50% 50%;
    }

    .icon {
        stroke: white;
        /* fill: var(--text); */
    }

    .star-photo {
        max-width: 332px;
        height: 445px;
        border-radius: 8px;
    }


    .photo-slide-image {
        width: 80px;
        height: 80px;
        border-radius: 8px;
    }

    .modal-container {
        display: flex;
        gap: 16px;
    }

    .desc-head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        flex-direction: column;
        row-gap: 4px;
    }

    .head-inf {
        display: flex;

    }

    .riska {
        color: var(--text05);
    }

    .title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 1, 33;

        align-items: center;
        letter-spacing: -0.02em;

        color: #FAFAFA;
    }

    .c-author {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.12;

        color: var(--text05);
    }

    .c-date {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.12;


        color: var(--text05);
    }

    .text-discription {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.12;
        color: var(--text);
        margin-bottom: 32px;
    }

    .description {
        padding-top: 32px;
        padding-bottom: 32px;
        padding-right: 16px;
        padding-left: 16px;
        background: var(--find);
        border-radius: 8px;
        width: 588px;
    }

    .character-img {
        width: 50px;
        height: 50px;
        border-radius: 8px;
    }

    .desc-list {
        display: flex;
        gap: 24px;
        margin-bottom: 32px;
    }

    .list-item {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .list-punkt {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 1.17;
        text-transform: uppercase;

        color: var(--text05);
    }

    .list-inf {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.12;


        color: var(--text);
    }

    .author {
        margin-bottom: 20px;
    }

    .author-inf {
        display: flex;
        gap: 14px;
        margin-bottom: 32px;
        align-items: center;
    }

    .author-img {
        width: 50px;
        height: 50px;
        border-radius: 8px;
    }

    .author-prof {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 1.17;
        margin-bottom: 8px;

        color: var(--text05);
    }

    .author-name {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.12;

        color: var(--text);
    }

    .aut-desc {
        display: flex;
        flex-direction: column;


    }

    .characters {
        margin-bottom: 20px;
    }

    .characters-list {
        display: flex;
        row-gap: 16px;
        flex-wrap: wrap-reverse;


    }

    .char-item {
        display: flex;
        gap: 8px;
        align-items: center;
        width: 180px;

    }
                .description {
                    padding-top: 32px;
                    padding-bottom: 32px;
                    padding-right: 16px;
                    padding-left: 16px;
                    background: var(--find);
                    border-radius: 8px;
                    width: 295px;
                }
    .character-name {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.12;
        align-items: center;
        color: var(--text);
    }

    .modal-container {
        padding-top: 40px;
        padding-bottom: 64px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .images {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .modal {
        display: flex;
        gap: 16px;
        flex-direction: column;

    }


    .star-photo {
        max-width: 295px;
        height: 387px;
        border-radius: 8px;
    }

    .photo-slide {
        display: flex;
        flex-direction: row;
        gap: 8px;
    }
}

@media screen and (min-width: 768px) {
.desc-list {
        display: flex;
        gap: 32px;
        margin-bottom: 32px;
    }
        .description {
            padding-top: 32px;
            padding-bottom: 32px;
            padding-right: 16px;
            padding-left: 16px;
            background: var(--find);
            border-radius: 8px;
            width: 536px;
        }
    .author-img {
        width: 50px;
        height: 50px;
        border-radius: 8px;
    }

    .character-img {
        width: 60px;
        height: 60px;
        border-radius: 8px;
    }

    .character-name {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.12;
        align-items: center;
        color: var(--text);
    }

    .characters {
        margin-bottom: 32px;
    }

    .author-name {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.12;

        color: var(--text);
    }

    .author-prof {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        margin-bottom: 8px;

        color: var(--text05);
    }

    .author {
        margin-bottom: 32px;
    }

    .list-inf {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.12;


        color: var(--text);
    }

    .list-punkt {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        text-transform: uppercase;

        color: var(--text05);
    }

    .text-discription {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.12;
        color: var(--text);
        margin-bottom: 32px;
    }

    .c-author {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.12;

        color: var(--text05);
    }

    .desc-head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        flex-direction: row;
        row-gap: 0px;
    }

    .title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
        color: var(--text);
    }

    .modal-container {
        padding-top: 64px;
        padding-bottom: 64px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .images {
        display: flex;
        flex-direction: row;
        gap: 8px;
    }

    .modal {
        display: flex;
        gap: 16px;
        flex-direction: column;

    }

    .photo-slide {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .modal-box {
        width: 600px;

    }

    .star-photo {
        max-width: 332px;
        height: 445px;
        border-radius: 8px;
    }
}
@media screen and (min-width: 1440px) {
    .modal-container {
            padding-top: 64px;
            padding-bottom: 64px;
            padding-left: 32px;
            padding-right: 32px;
        }
    
        .images {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    
        .modal {
            display: flex;
            gap: 16px;
            flex-direction: row;
        }
    
        .photo-slide {
            display: flex;
            flex-direction: row;
            gap: 8px;
        }
    
        .modal-box {
            width: 1000px;
        }
}