@import url(./costants.css);




.rc-section {
  padding: 40px 0;
  background-color: var(--background);
}

.rc-list {
  margin-left: auto;
  margin-right: auto;
}

.rc-title {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  margin-bottom: 44px;
  color: var(--text);
}

/* .rc-item {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.rc-descr-item {
  padding: 32px 0;

  display: flex;
  flex-direction: column;
  gap: 16px;

  border-bottom: 1px solid var(--text05);
}



.rc-descr-title {
  color: var(--text);
}

.rc-descr-text {
  color: var(--text05);
}

.rc-btn-container {
  text-align: end;
}

.rc-btn {
  margin-top: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;

  color: var(--text);
  background-color: transparent;
  border: 1px solid var(--text05);
  border-radius: 1000px;
}

@media screen and (min-width: 768px) {
  .rc-container {
    width: 734px;
  }

  .rc-section {
    padding: 64px 0;
  }

  .rc-title {
    font-weight: 500;
    font-size: 44px;
    line-height: 44px;

    margin-bottom: 64px;
  }
  
  .rc-img {
    width: 704px;
    height: 704px;
  }
  .rc-descr-title {
    font-size: 24px;
    line-height: 1;
  }
  .rc-descr-text {
    font-size: 16px;
    line-height: 1.13;
  }

  .rc-btn {
    margin-top: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .rc-container {
    width: 1406px;
  }
  .rc-list {
    position: relative;
    margin: 0;
    
    
  }
  .rc-item {
    display: flex;
    gap: 32px;
  }

  .rc-descr-list {
    width: 846px;
    height: 704px;
  }
 
  .slider-container {
    display: flex; 
    align-items: center;
  }

  .rc-img {
    width: 496px;
    height: 704px;
    object-fit: cover;
    
  }

  .slider-blank-box {
    width: 496px; 
    height: 704px;
    z-index: -1;
  }

  .rc-descr-text {
    overflow: hidden;
  max-height: 2.26rem;
  }

 

}





.slide{
  position: absolute;
  left: -28px;
  top: 30px;
  width: 496px; 
  height: 704px;
  opacity: 0;
  z-index: 1;

  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.showing{
  opacity: 1;
  z-index: 2;
}


.rc-descr-active .rc-descr-title,
.rc-descr-active .rc-descr-text {
  color: var(--random_characters);
}










.slide{
  position: absolute;
  left: -28px;
  top: 30px;
  width: 496px; 
  height: 704px;
  opacity: 0;
  z-index: 1;

  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.showing{
  opacity: 1;
  z-index: 2;
}


.rc-descr-active .rc-descr-title,
.rc-descr-active .rc-descr-text {
  color: var(--random_characters);
}





